.travel-background {
  @include displayFlexWithPaddingAndMargin(20px 40px);
  justify-content: center;
  background: url(../images/travel-tracker-default-bg.jpg) no-repeat center;
  background-size: cover;
  height: 70vh;
  width: 100%;
}

.form-submission {
  @include displayFlexWithPaddingAndMargin(10px 20px, 0, column);
  background-color: $blue-text-color;
  color: white;

  h2 {
    text-align: center;
  }

  .new-trip {
    @include displayFlexWithPaddingAndMargin(10px, 0, column);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.8;
    width: 100%;

    & > * {
      margin: 5px 0;
    }

    label {
      margin-left: 15px;
    }

    input {
      width: 150px;
      height: 25px;
      margin-left: 5px;
    }

    select {
      height: 33px;
    }

    input[type=button] {
      background-color: $orange-text-color;
      color: white;
      height: 30px;
      border: none;
      border-radius: 5px;
    }

    #new-trip-duration, #new-trip-travelers {
      width: 60px;
    }

    @media screen and (max-width: 730px) {
      #new-trip-duration, #new-trip-travelers {
        width: 265px;
      }

      .new-trip-top, .new-trip-bottom {
        @include displayFlexWithPaddingAndMargin(0, 0, column);
        align-items: center;
        justify-content: center;
        width: 100%;

        & > * {
          margin: 5px 0;
        }

        & input {
          width: 265px;
        }
      } 
    }
  }
}

.new-trip-status {
  text-align: center;
}

.trip-organizer {
  @include displayFlexWithPaddingAndMargin(20px, 10px, column);
  margin-top: 20px;
  flex-flow: column;
  text-align: center;

  .trip-organizer-cards {
    @include displayFlexWithPaddingAndMargin();
    justify-content: center;
    flex-wrap: wrap;

    .trip-card {
      @include displayFlexWithPaddingAndMargin(10px, 20px, column);
      align-content: center;
      background-color: white;
      min-width: 300px;
      width: 500px;
      border: 1px solid black;
      border-radius: 5px;
  
      h3 {
        text-align: center;
      }
  
      img {
        width: 100%;
      }
  
      .trip-details {
        @include displayFlexWithPaddingAndMargin(0, 0, column);
        text-align: center
      }
    }
  }
}