@mixin displayFlexWithPaddingAndMargin($padding: 0, $margin: 0, $direction: row) {
  display: flex;
  flex-direction: $direction;

  @if $padding != 0 {
    padding: $padding;
  }

  @if $padding != 0 {
    margin: $margin;
  }
}